
* {
    font-family: "urbanist", sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

header {
    display: flex;
    margin-right: 230px;
    justify-content: center;
    align-items: center;

}

.logo {
    float: left;
    width: 220px;
    height: 120px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
    background-image: url(images/rentalcar-logo.png);
}

.navbar-nav{
    list-style-type: none;
}

.nav-item{

    display:inline-block;
    margin: 30px;
}

.nav-link{
    font-size: 1.5em;
    color: black;
    
}

li:nth-of-type(0){
    display: block;
}

